.portal-banner .bannerImage {
    max-width:100%;
    position: relative;
    display:block;
    margin:0 auto;
}

.portal-banner .bannerImage img {
    max-width:100% !important;
    height:auto;
    display:block;
}

# These do not belong here.  But I could not figure out how to make them 
# be loaded by dlt/customizations....all.css, and I know that this css
# file does get loaded when editing a page.
.pattern-relateditems-tree .tree-container .pat-tree > ul.jqtree-tree {
  padding-right: 10px;
}

.pattern-relateditems-tree .tree-container .jqtree-tree .jqtree_common {
  position: relative;
}

